@{
  ViewBag.Title = "Home Page";
}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>@ViewBag.Message</h1>
    </div>
    <p>To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.</p>
  </div>
</div>
